
/* General styles for categories */
.category {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 20px; /* Add space between categories */
  cursor: pointer;

}

/* Styling for the gradient background and animation */
.category1 {
  background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient 1 */
  animation: fadeUp 0.2s forwards;
  animation-delay: 0.1s;
}

.category2 {
  background: linear-gradient(to right, #6a11cb, #2575fc); /* Gradient 2 */
  animation: fadeUp 0.2s forwards;
  animation-delay: 0.2s;
}

.category3 {
  background: linear-gradient(to right, #f06, #ffba00); /* Gradient 3 */
  animation: fadeUp 0.2s forwards;
  animation-delay: 0.3s;
}

.category4 {
  background: linear-gradient(to right, #4caf50, #8bc34a); /* Gradient 4 */
  animation: fadeUp 0.2s forwards;
  animation-delay: 0.4s;
}

.category5 {
  background: linear-gradient(to right, #00bcd4, #00e5ff); /* Gradient 5 */
  animation: fadeUp 0.2s forwards;
  animation-delay: 0.5s;
}
.category6 {
  background: linear-gradient(to right, #31cf80, #00e5ff); /* Gradient 5 */
  animation: fadeUp 0.2s forwards;
  animation-delay: 0.6s;
}

/* Keyframes for animation */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Start from below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Final position */
  }
}


.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.name {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.add-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;  /* Green color for the button */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #45a049;  /* Darker green on hover */
}

.name-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.chip {
  background-color: #f1f1f1;
  padding: 8px 15px;
  border-radius: 50px;  /* Makes the chip round */
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
}

.remove-icon {
  margin-left: 10px;
  cursor: pointer;
  color: #ff6347;  /* Red color for the remove icon */
  font-size: 18px;
}

.radio {
  font-style: italic;
  font-weight: bold;
}
